
@font-face {
    font-family: AvenirMedium;
    src: url("../fonts/Avenir-Medium.otf");
}

.navbar {
    font-family: AvenirMedium;
}

i.garago-icon-only {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url("../img/logo-only.png");
}

i.garago-icon {
    background-size: contain;
    background-image: url("../img/logo-only-white-shadow.png");
    background-repeat: no-repeat;
    display: inline-block;
}

i.garago-arrow {
    background-size: contain;
    background-image: url("../img/arrow-login.png");
    background-repeat: no-repeat;
    display: inline-block;
}

i.garago-arrow-red {
    background-size: contain;
    background-image: url("../img/arrow-red-shadow.png");
    background-repeat: no-repeat;
    display: inline-block;
}

i.icon-car-manager {
    background-size: contain;
    background-image: url("../img/picto-car-manager.png");
    background-repeat: no-repeat;
    display: inline-block;
}

i.icon-repair {
    background-size: contain;
    background-image: url("../img/picto-repair.png");
    background-repeat: no-repeat;
    display: inline-block;
}

i.icon-deals {
    background-size: contain;
    background-image: url("../img/picto-deals.png");
    background-repeat: no-repeat;
    display: inline-block;
}

i.icon-knowledge-center {
    background-size: contain;
    background-image: url("../img/picto-car-manager.png");
    background-repeat: no-repeat;
    display: inline-block;
}

i.icon-claim {
    background-size: contain;
    background-image: url("../img/picto-claim.png");
    background-repeat: no-repeat;
    display: inline-block;
}


 /* LOGIN SCREEN */
.login-screen-title i.garago-icon {
    height: 80px;
    width: 80px;
    margin-top: 70px;
}

.login-screen-content {
    background-color: #ed1a44;
    color:white;
    font-family: AvenirMedium;
}

.login-screen-content h2 {
    font-size: 0.75em;
    margin: 0 auto;
    text-shadow: 0 2px rgba(0, 0, 0, 0.15);
}

.login-screen-content p {
    font-size: 0.45em;
    margin-top: 0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.15);
}

.login-screen-content .item-input input {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.15);
    font-size: 0.8em;
}

.login-screen-content .insurance-connect {
    width: 100%;
    padding-top: 0;
}

.login-screen-content .garago-arrow {
    height: 30px;
    width: 30px;
    margin: 0 auto;
}

.login-screen-content .list-block-label {
    color:white;
}

.login-screen-content .buttons-non-client {
    width: 80%;
    margin: 0 auto;
}

.login-screen-content .non-client-label {
    margin-bottom: 0;
    margin-top: 15px;
}

.login-screen-content .item-inner:after {
    background-color: transparent;
}

.login-screen-content .button {
    color: white;
}


/* INFOS SCREEN */
.garago-page-info {

}

.garago-page-info .header-box {
    height: 70px;
    background-color: #2a2d34;
}

.garago-page-info .header-picture {
    width: 95px;
    height: 95px;
    margin: 0 auto;
    border: solid #97a7ad;
    border-radius: 70px;
    margin-top: -47px;
    background-size: cover;
    background-image: url("../img/profile-picture.png");
    background-repeat: no-repeat;
    //display: inline-block;
}

.garago-page-info .header-text {
    text-align: center;
}

.garago-page-info .garago-infos {
    margin: 0;
}

.garago-page-info .garago-arrow-red {
    height: 30px;
    width: 30px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    transform: rotate(180deg);
}

.garago-page-info p.name {
    margin: 0;
    margin-top: 5px;
}

.garago-page-info h2 {
    margin: 10px 0;
}

/* LOADING SCREEN */
.popup-overlay.modal-overlay-visible {
    opacity: 0;
}

.popup-loading {
    background-color: #ed1a44;
}

.popup-loading .content-block {
    color:white;
    font-family: AvenirMedium;
}

.popup-loading #loading-animation {
    display: block;
    margin: 0 auto;
    width: 35%;
    margin-top: 240px;
}

.popup-loading p {
    width: 65%;
    margin: 40px auto;
    text-align: center;
}


/* MAIN SCREEN */
.garago-page-index .header-box {
    height: 160px;
    background-color: #2a2d34;
}

.garago-page-index .header-picture {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    border: solid #97a7ad;
    border-radius: 60px;
    margin-top: -130px;
    background-size: cover;
    background-image: url("../img/profile-picture.png");
    background-repeat: no-repeat;
}

.garago-page-index .client-name {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
}

.garago-page-index .menu-container {
    margin-top: 40px;
}

.garago-page-index .menu-element {
    display: flex;
    margin: 10px 0;
}

.garago-page-index .menu-element-icon {
    margin: 0 15px;
}

.garago-page-index .menu-element-text {
    width: 70%;
    line-height: 35px;
    font-family: AvenirMedium;
    font-size: 1.3em;
}

.garago-page-index .menu-element-arrow {
    width: 9px;
    //height: 30px;
    background-position-y: 9px;
    background-size: contain;
    background-image: url("../img/arrow-black.png");
    background-repeat: no-repeat;
    display: inline-block;
}

.garago-page-index i {
    width: 30px;
    height: 30px;
}